PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/sanket_portfolio?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development

# Credentials
ADMIN_EMAIL=your_admin_email@gmail.com
ADMIN_PASSWORD=your_admin_password_here

# Email settings for OTP/notifications
EMAIL_USER=your_email_user@gmail.com
EMAIL_PASS=your_email_app_password_here

# OTP Configuration
OTP_EXPIRES_MINUTES=5

# Google Gemini API configuration
GEMINI_API_KEY=your_gemini_api_key_here
